body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #F8C8DC;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-family: 'Nunito';
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}
